<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.copernic.jose.antonio.miranda.prodiscomtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_prodislogo_v5"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_prodislogo_v5"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProdisComTest">
        <activity
            android:name=".ui.MainActivityUser"
            android:exported="true" />
        <activity
            android:name=".ui.register.ConRegistro"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/splashTeme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>